<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>投稿一覧</h1>
      <%= link_to '新規投稿', new_picture_path, class: 'btn btn-default' %>
      <br>

    <% @pictures.each do |picture| %>
    <div class="row">
      <p>投稿者：<%= picture.user.name %></p>
      <p>タイトル:<%= picture.title %></p>
      <p>写真:<%= image_tag picture.picture %></p>
      <%= link_to '詳細', picture, class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to '削除', picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default btn-sm btn btn-danger' %>
      <% end %>
    </div>
